<div class="site-header">
  <div class="site-name">Vinylon's blog</div>
  <ul class="site-classify">
    <li class="classify-main">About</li>
    <li class="classify-main">Article</li>
    <li class="classify-main">Project</li>
    <li class="classify-main">
      Notes
      <ul class="classify-minor">
        <li class="classify-minor-title" style="border-top: 0;">Html</li>
        <li class="classify-minor-title">Css</li>
        <li class="classify-minor-title">JavaScript</li>
      </ul>
    </li>
    <li class="classify-main">Lists</li>
  </ul>
  <div class="stie-search">
    <img src="../../../assets/icons/search.svg" class="h-2/3 w-2/3 bg-cover bg-no-repeat bg-center" alt="search">
  </div>
</div>
