<div class="site-header">
  <div class="site-name" routerLink="">Vinylon's blog</div>
  <ul class="site-classify">
    <li class="classify-main" routerLink="/{{ title.main | lowercase }}/0" *ngFor="let title of navContent">
      <a [href]="title?.link" *ngIf="title?.link" target="_blank">
        {{ title.main }}
      </a>
      <div *ngIf="!title?.link">
        {{ title.main }}
      </div>
      <ul class="classify-minor">
        <li class="classify-minor-title" *ngFor="let subtitle of title.subtitle; let i = index;"
          [ngStyle]="{ 'border-top': i === 0 ? '0' : '' }">
          {{ subtitle }}
        </li>
      </ul>
    </li>
  </ul>
  <div class="stie-search" (click)="this.isPopup = true">
    <img src="../../../assets/icons/search.svg" class="h-2/3 w-2/3 bg-cover bg-no-repeat bg-center" alt="search">
  </div>
</div>
<app-search [isPopup]="this.isPopup" (closePopup)="onChange($event)"></app-search>
