body {
  background-color: #262626;
  margin: 0;
  padding: 0;
  min-width: 900px;
  overflow-x: hidden;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track {
  /* -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); */
  /* border-radius: 10px; */
  background-color: #262626;
  /* background: linear-gradient(90deg,#434343,#434343 1px,#262626 0,#262626); */
}

/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  /* border-radius:10px; */
  /* -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3); */
  /* background-color:#555; */
  background: #434343;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
