.footer-bar {
  width: 100%;
  height: auto;
  padding: 2.5rem;
  align-items: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 2rem;
  align-items: flex-start;
  background: linear-gradient(-45deg, black, rgb(40, 40, 40));

  // background: linear-gradient(to right, black, rgb(107, 114, 128, 1));
  & .author {
    width: 100%;
    margin-top: -1.5rem;

    & .name {
      color: white;
      font-size: 36px;
      font-weight: 700;
    }

    & .button {
      margin: 1rem auto 0 0;
      color: white;
      background-color: transparent;
      position: relative;
      border: 1px white solid;
      border-radius: 0.375rem;
      display: inline-block;
      padding: 1rem 1.5rem;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }

  }

  & .classification-grid {

    & .classification {
      margin-bottom: 1.5rem;
      letter-spacing: .1;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      color: #ff7a18;
    }

    & .label {
      font-size: 1rem;
      color: #C9D1D9;
      margin: 1rem 0;
    }
  }
}

.author>p {
  font-size: 12px;
  color: #C9D1D9
}
