<div class="classify">
  <form style="display: flex; justify-content: space-between;">
    <select class="classify-selector">
      <option value="" *ngFor="let item of classify">{{item}}</option>
    </select>
  </form>

  <div style="display: flex; align-items: center;">
    <span class="article-data">
      17&nbsp;&nbsp;Article
    </span>
    <div class="sort-button" (click)="isSort = !isSort">
      Sorting
    </div>
  </div>

  <form class="classify-sort" *ngIf="isSort">
    <div style="margin-right: 1rem; font-weight: 700; font-size: 16px;">
      Date&nbsp;:
    </div>
    <select class="sort-selector">
      <option  value="" *ngFor="let item of sorting">{{item}}</option>
    </select>
  </form>
</div>
