<article class="mini-card" [ngStyle]="{'box-shadow': this.isShadow === true? '':'none'}">
  <p style="margin-bottom: 1rem;">
    {{ popularArticle.type }}
    <span class="date">{{ popularArticle.date }}</span>
  </p>
  <h1 class="title">{{ popularArticle.title }}</h1>
  <p class="tags">@ {{ popularArticle.tags | arrayWithoutComma }}</p>
  <div class="author">
    <div class="avatar">
      <img [src]="popularArticle.author.avatar">
    </div>
    <div class="name">{{ popularArticle.author.name }}</div>
  </div>
</article>
