.arrow-right {
  transform: rotate(270deg);
}

ul {
  font-size: 1.2rem;
  padding-left: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  list-style-type: none;

  & li {
    height: 2rem;
    line-height: 2rem;
    margin: 0 1rem;
    color: gray;
    text-decoration: none;
    padding-left: 0;
  }

  & li:hover {
    opacity: .75;
    color: white;
    cursor: pointer;
  }

  & .active-page {
    color: white;
  }

  & .unactive-page {
    pointer-events: none;
  }
}

.breadcrumbs-prev-page {
  display: flex;
  color: white !important;
}

.breadcrumbs-next-page {
  display: flex;
  color: white !important;
}

.arrow {
  width: 3em;
  height: 2rem;

  img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
